<!---File name: footer.ejs-->
<!---Student name: Tsz Shuen Lai-->
<!---Student ID: 301278443-->
<!---Date: 1 Jun 2023-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="display-6 navbar-text" style="font-size: small;">&copy;2023 All rights reserved</h6>
    </div>
    </nav>
</footer> 
<script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>