<!---File name: about.ejs-->
<!---Student name: Tsz Shuen Lai-->
<!---Student ID: 301278443-->
<!---Date: 1 Jun 2023-->
<%- include ('partials/header.ejs') %>
    <%- include ('partials/content.ejs') %>
        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to <%= title %> Page</h1>
                <img src="/img/maggie.jpg" alt="Personal Image" style: width="540px" ; height="400px">
                <p>My legal name is Tsz-shuen Lai.</p>
                <p>Currently, I am a Software Engineering Techician student in Centennial College.<br>
                    This is my third semester and third web application course. <br><br>
                    I am self-disciplined and motivated on studying different spectrum and troubleshooting. <br>
                    Strong team member; able to cooperate and motivate others to achieve optimal production. <br>
                    Strong interpersonal and communication skills; able to coordinate with client, colleagues and coworkers.
                </p>
                <p>My software programming skills:
                <ul>
                    <li>C#</li>
                    <li>C++</li>
                    <li>HTML</li>
                    <li>Java script</li>
                    <li>Java</li>
                    <li>Unix / Linux</li>
                    <li>SQL Developer</li>
                    <li>MongoDB</li>
                </ul>
                </p>
                <a href="Assest/CV_Maggie Tsz-shuen Lai(CA).pdf" target="_blank">Click here to view my resume</a>
            </div>
        </main>
        <!--bottom nav-->


        <!--script section-->
<%- include ('partials/footer.ejs') %>