<!---File name: services.ejs-->
<!---Student name: Tsz Shuen Lai-->
<!---Student ID: 301278443-->
<!---Date: 1 Jun 2023-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/content.ejs') %>
    <main class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to <%= title %> Page</h1>
            <table>
            <tr>
                <td>
                    <img src="img/programming.jpg" alt="Programming" height="110">
                </td>
                <td style="padding-left: 20px;">
                    <h3>General Programming</h3>
                    <p>Offer general programming services to meet your specific needs.</p>
                    <p>Using C#, C++, Python and etc.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="img/webdevelopment.png" alt="Web Development" height="200">
                </td>
                <td style="padding-left: 20px;">
                    <h3>Web Development</h3>
                    <p>Offer design and building build modern and responsive websites.</p>
                    <p>Using HTML, Javascript, Java and etc.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="img/database.jpg" alt="Database" height="200">
                </td>
                <td style="padding-left: 20px;">
                    <h3>Database Management</h3>
                    <p>Offer provide efficient and secure solutions to handle your data.</p>
                    <p>Using Oracle Database, My SQL, MongoDB and etc.</p>
                </td>
            </tr> 
            </table>       
        </div>
    </main> 
    <!--bottom nav-->
   
   
    <!--script section-->
<%- include ('partials/footer.ejs') %>
