<!---File name: index.ejs-->
<!---Student name: Tsz Shuen Lai-->
<!---Student ID: 301278443-->
<!---Date: 1 Jun 2023-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
    <main class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to <%= title %> Page</h1>
            <p>This page is all about Olaf.</p><br>
            <p>Hi visitors, I am Olaf, an innocence and purity snowman.</p>
            <p>I love summer and I like waram hugs!</p>
            <p>My mission is to bring happiness, joy, and warmth to people around me.</p>
        </div>
    </main> 
    <!--bottom nav-->
   
   
    <!--script section-->
<%- include ('partials/footer.ejs') %>
