<!---File name: projects.ejs-->
<!---Student name: Tsz Shuen Lai-->
<!---Student ID: 301278443-->
<!---Date: 1 Jun 2023-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
    <main class="container">
        <h1 class="display-4">Welcome to <%= title %> Page</h1>
        <table>
            <tr>
                <td>
                    <br><br><img src="img\project1.jpg" height="200" alt="Project 1"></td>
                <td style="padding-left: 20px;">
                <h3>Design and Installation of 11kV Dry-type Transformer</h3>
                <br>
                <ul>
                    <li>Perform electrical load calculation and select proper transformer</li>
                    <li>Prepare method statement of delivery and installation</li>
                    <li>Manage and quanlity control on testing and commissioning</li>
                </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <br><br><img src="img\project2.jpg" height="200" alt="Project 2"></td>
                <td style="padding-left: 20px;">
                <h3>Design and Installation of medium voltage armoured cable</h3>
                <br>
                <ul>
                    <li>Perform electrical cable sizing and voltage drop calculation</li>
                    <li>Prepare method statement of delivery and installation</li>
                    <li>Manage and quanlity control on testing and commissioning</li>
                </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <br><br><img src="img\project3.png" height="200" alt="Project 3"></td>
                <td style="padding-left: 20px;">
                <h3>Making a BB-8: The Real Thing!</h3>
                <br>
                <ul>
                    <li>Design and manufacture real size movable BB-8</li>
                    <li>Implement control joystick with Arduino microcontroller board</li>
                    <li>Include motion detective and pendulum function</li>
                </ul>
                </td>
            </tr>
          </table>
          <br><br>
    </main> 
    <!--bottom nav-->
   
   
    <!--script section-->
<%- include ('partials/footer.ejs') %>
